<h2 class="retro-font-last">Sign up</h2>

<div class="signup">
  <div class="signup-connect">
    <h1>Create your account</h1>
    <a href="http://localhost:3000/users/auth/facebook" class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i> Sign in with Facebook</a>
    <a href="http://localhost:3000/users/auth/google_oauth2" class="btn btn-social btn-google"><i class="fa fa-google"></i> Sign in with Google</a>
    <a href="http://localhost:3000/users/auth/github" class="btn btn-social btn-github"><i class="fa fa-github"></i> Sign in with Github</a>
  </div>
  <div class="signup-classic">
    <h1>Or use the classical way</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.submit "Sign up"%>
  </div>
<% end %>
</div>
</div>
