
  <%= form_for(@newsletter) do |f| %>

  <h3 class="retro-font-last">Edit<br>
     <%= @newsletter.title %></h3>

  <div class="field">
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :sub_title %><br/>
    <%= f.text_field :sub_title %>
  </div>

  <div class="field">
    <%= f.label :summary %><br/>
    <%= f.text_area :summary, cols: 30, rows: 10%>
  </div>

  <div class="field">
    <%= f.label :date %><br/>
    <%= f.date_field :date %>
  </div>

  <div class="main">
  <button class="button">Update</button>


  <div class="loader">
    <div class="check">
      <span class="check-one"></span>
      <span class="check-two"></span>
    </div>
  </div>

</div>


<% end %>
