
<div class="vintage__container">

  <% @newsletters.each do |n| %>
  <ul>
    * <%= n.title %> - <%= n.sub_title %> -
    <%= link_to "Review", newsletter_path(n.id) %>
  </ul>

  <% end %>
  <ul id="horizontal-list">
    <li class="retro-font"><%= link_to "New Newsletter", new_newsletter_path %></li>
    <li class="retro-font-last"><%= link_to "New Article", new_article_path %></li><br>
    <li class="retro-font-last"><%= link_to "Articles", articles_path %></li>
    </ul>
  </div>
