
  <h1><%= @newsletter.title %></h1>
  <h2><%= @newsletter.sub_title %></h2>
  <h3><%= event_date %></h3>
  <p><%= @newsletter.summary %></p>
  <author>Author Name</author>

  <li class="retro-font-last"><%= link_to "Edit", edit_newsletter_path %></li>
