<%= render partial: "nav" %>
<div class="vintage__container">

  <a name="top"></a>

  <% @events.each do |n| %>
    <ul>
      * <%= n.newsletter.title %> -
      Edition: <%= n.newsletter.sub_title %> -
      <%= n.title %> -
      Date: <%= n.date.strftime("%m/%d/%Y") %> -
      <%= link_to "Review", event_path(n.id) %>
    </ul>
  <% end %>
