<!DOCTYPE html>
<html>
  <head>
    <title>HpDailyProphet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Satisfy"
    href="https://fonts.googleapis.com/css?family=Six+Caps">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>

      body {
        font-family: 'Shadows Into Light', cursive;
        font-size: 22px;

    </style>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="halo"></div>
    <%= yield %>
  </body>
</html>
