<!DOCTYPE html>
<html>
  <head>
    <title>HpDailyProphet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Satisfy"
    href="https://fonts.googleapis.com/css?family=Six+Caps">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>

      body {
        font-family: 'Six+Caps', serif;
        font-size: 25px;
        text-shadow: 1px 1px #f7f5f0;
    </style>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="halo"></div>
    <%= yield %>
  </body>
</html>
